.breadcrumbs {
    margin-top: 39px;
    margin-left: 2px;
    margin-bottom: 17px;
}

.breadcrumbs__item {
    display: inline-block;
    vertical-align: middle;
}

.breadcrumbs__item::after {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    content: "/";
    display: inline-block;
    color: #221f1f;
    opacity: 0.8;
}

.breadcrumbs__item:last-child::after {
    display: none;
}

.breadcrumbs__item-link {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    color: #f89513;
    opacity: 0.8;
}

.breadcrumbs__item_active .breadcrumbs__item-link {
    color: #221f1f;
    text-decoration: none;
}