.header {
    background: #131415;  
}

.header__section {
    float: left;
    box-sizing: border-box;
}

.header__section_left {
    width: 30%;
    text-align: left;
    padding-top: 28px;
    padding-bottom: 28px;
}

.header__section_center {
    width: 40%;
    text-align: center;
    padding-top: 28px;
    padding-bottom: 27px;
}

.header__section_right {
    width: 30%;
    text-align: right;
    padding-top: 17px;
    padding-bottom: 16px;
}

.logo {
    font-family: 'gora_free';
    font-size: 18px;  
    color: #f89513;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.6px;
}

.nav__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 26px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    text-decoration: none;
    display: block;
}

.nav__text {
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    transition: color 300ms;
    -webkit-transition: color 300ms;
}

.nav__link:hover .nav__text, .nav__link_active .nav__text {
    color: #f89513;
}

.nav__icon {
    width: 20px;
    height: 18px;
    margin-right: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url('/images/sprites/nav.png');
    vertical-align: middle;
}

.nav__icon_main {
    background-position: 0 0;
}

.nav__icon_reviews {
    background-position: -50px 0px;
}

.nav__icon_service {
    background-position: -100px 0px;
}

.nav__link:hover .nav__icon {
    animation: nav-icon 300ms forwards;
}

.nav__link:hover .nav__icon_main, .nav__link_active .nav__icon_main {
    background-position: 0 -50px;
}

.nav__link:hover .nav__icon_reviews, .nav__link_active .nav__icon_reviews {
    background-position: -50px -50px;
}

.nav__link:hover .nav__icon_service, .nav__link_active .nav__icon_service {
    background-position: -100px -50px;
}

.contacts {
    font-style: normal;
}

.contacts__phone {
    font-weight: bold;
    font-size: 21px;
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 2px;
}

.contacts__schedule {
    font-weight: bold;
    font-size: 14px;
    color: rgba(248, 149, 19, .7);
    margin-right: 3px;
    transition: color 300ms;
    -webkit-transition: color 300ms;
    position: relative;
    display: inline-block;
}

.schedule__dropdown {
    width: 162px;
    padding: 15px 18px;
    background: #ffffff;
    opacity: 0.95;
    border-radius: 4px;
    position: absolute;
    right: 9999px;
    top: 100%;
    z-index: 10;
    box-shadow: 0 0 10px rgba(23, 59, 117, .55);
    margin-top: 20px;
    box-sizing: border-box;
}

.contacts__schedule:hover .schedule__dropdown {
    right: 0;
}

.contacts__schedule:hover {
    color: rgba(255, 255, 255, .7)
}

.schedule__dropdown::before {
    content: "";
    display: block;
    height: 20px;
    left: 0;
    right: 0;
    top: -20px;
    position: absolute; 
}

.schedule__dropdown-triangle{
    border-top: 0px solid transparent;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #ffffff;
    opacity: 0.95;
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: 100%;
    right: 10px;
}

.schedule__dropdown-days, .schedule__dropdown-dinner {
    text-align: left;
}

.schedule__dropdown-days {
    color: #f89513;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 6px;
}

.schedule__dropdown-dinner {
    color: #221f1f;
    font-size: 14px;
    font-weight: 300;
}




